<table class="table">
  <thead>
  <tr>
    <th scope="col">名称</th>
    <th scope="col">出席QR</th>
  </tr>
  </thead>
  <tbody>
  <% @all_programs.each do |p| %>
    <tr>
      <td>
        <%= p.name %> <br><br>
        <%= link_to "詳細", admin_program_path(event_public_id: p.event.public_id, public_id: p.public_id), class: "btn btn-primary" %>
        <%= link_to "削除", admin_program_path(event_public_id: p.event.public_id, public_id: p.public_id), class: "btn btn-danger", data: { "turbo-method": :delete, "turbo-confirm": "削除しますか？" } %>
      </td>
      <td>
        <%= image_tag "https://api.qrserver.com/v1/create-qr-code/?size=1000x1000&data=#{events_attendance_url}?token=#{p.attendance_token}", width: "100px" %>
        <br>
        <%= "#{events_attendance_url}?token=#{p.attendance_token}" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="my-5">
</div>

<% if @new_program.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @new_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mx-auto" style="max-width: 700px">
  <%= form_with model: @new_program, url: admin_programs_path(event_public_id: @event.public_id) do |f| %>
    <div class="input-group my-3">
      <%= f.text_field :name, class: "form-control", :placeholder => "新規プログラム追加" %>
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= form_with model: @event, url: admin_event_path(public_id: @event.public_id) do |f| %>
    <div class="input-group my-3">
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit "名称更新", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



<div class="my-5">
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">氏名</th>
    <th scope="col">メールアドレス</th>
    <th scope="col">出席時間</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @event.user_event_attendances.each do |e| %>
    <tr>
      <td>
        <%= e.user.full_name %>（<%= e.user.full_name_kana %>）
      </td>
      <td>
        <%= e.user.email %>
      </td>
      <td>
        <%= e.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
      </td>
      <td>
        <%= link_to "削除", admin_attendee_path(e.event.public_id, e.id), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "削除しますか？"} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>