<div class="centering-container">
  <%= image_tag asset_path("nxtend-logo-black.svg"), class: "only-desktop" %>
  <%= image_tag asset_path("nxtend-logo-black-mobile.svg"), class: "only-mobile" %>
  <div class="top-text-heading font-weight-extrabold font-size-2xl text-center">
    <%= title %>
  </div>
  <div class="top-text text-center font-size-sm">
    <% if defined? description1 %>
      <%= description1 %>
    <% end %>
    <% if defined? description2 %>
      <br>
      <%= description2 %>
    <% end %>
  </div>
</div>
